@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.background {
	position:fixed;
	background-image: url('../img/Logo_Gym.png');
	background-size: cover;
	background-position: center;
  	width: 100%;
  	height: 100vh;
  	filter: blur(5px); /* Làm mờ nền */
    z-index: -1; /* Đẩy nền xuống dưới nội dung */
    font-family: Arial, sans-serif;
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #FF0033; /* Màu đỏ như ở hover trong sidebar */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Thêm hiệu ứng bóng nhẹ */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.logout-btn:hover {
    background-color: #d32f2f; /* Đổi màu khi hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng khi hover */
}
.container {
	position: relative;
	z-index: 1;
    background-color: #fff; /* Nền trắng */
    padding: 30px;
    border-radius: 10px; /* Bo góc */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
}

.sidebar {
    height: 100vh;
    position: fixed;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h5 {
    font-weight: bold;
    color: #e0e0e0;
}

.sidebar .nav-link {
    color: #76c7f4;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar .nav-link:hover {
    background-color: #FF0033;
    color: #fff;
}

.main-content h2 {
	color: #dcdcdc;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 1.5rem;
}
