@charset "UTF-8";

/* CSS Form đăng ký*/

.registerForm h2{
	font-family: 'Bebas Neue', sans-serif;
	font-size: 40px;
	color: white; 
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
}

#registerForm label{
	color: white;
}

