<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ConfirmRegisterController</display-name>
    <servlet-name>ConfirmRegisterController</servlet-name>
    <servlet-class>controller.ConfirmRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmRegisterController</servlet-name>
    <url-pattern>/xac-nhan-dang-ky</url-pattern>
  </servlet-mapping>
  <display-name>quan_ly_hoc_vien_gym</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConfirmLoginController</display-name>
    <servlet-name>ConfirmLoginController</servlet-name>
    <servlet-class>controller.ConfirmLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmLoginController</servlet-name>
    <url-pattern>/xac-nhan-dang-nhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserController</display-name>
    <servlet-name>UpdateUserController</servlet-name>
    <servlet-class>controller.UpdateUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserController</servlet-name>
    <url-pattern>/chinh-sua-nguoi-dung</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateClassController</display-name>
    <servlet-name>CreateClassController</servlet-name>
    <servlet-class>controller.CreateClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateClassController</servlet-name>
    <url-pattern>/tao-lich</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserController</display-name>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/xoa-nguoi-dung</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmRegistrationController</display-name>
    <servlet-name>ConfirmRegistrationController</servlet-name>
    <servlet-class>controller.ConfirmRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmRegistrationController</servlet-name>
    <url-pattern>/xac-nhan-dang-ky-lich</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallBackServlet</display-name>
    <servlet-name>CallBackServlet</servlet-name>
    <servlet-class>controller.CallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallBackServlet</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveInforServlet</display-name>
    <servlet-name>SaveInforServlet</servlet-name>
    <servlet-class>controller.SaveInforServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveInforServlet</servlet-name>
    <url-pattern>/saveinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticationController</display-name>
    <servlet-name>AuthenticationController</servlet-name>
    <servlet-class>controller.AuthenticationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationController</servlet-name>
    <url-pattern>/AuthenticationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmOTPController</display-name>
    <servlet-name>ConfirmOTPController</servlet-name>
    <servlet-class>controller.ConfirmOTPController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmOTPController</servlet-name>
    <url-pattern>/confirm-OTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndexController</display-name>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/Admin-Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserController</display-name>
    <servlet-name>ListUserController</servlet-name>
    <servlet-class>controller.ListUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserController</servlet-name>
    <url-pattern>/ListUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutController</display-name>
    <servlet-name>AdminLogoutController</servlet-name>
    <servlet-class>controller.AdminLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutController</servlet-name>
    <url-pattern>/admin-dang-xuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPTController</display-name>
    <servlet-name>ListPTController</servlet-name>
    <servlet-class>controller.ListPTController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPTController</servlet-name>
    <url-pattern>/danh-sach-pt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePTController</display-name>
    <servlet-name>DeletePTController</servlet-name>
    <servlet-class>controller.DeletePTController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePTController</servlet-name>
    <url-pattern>/xoa-pt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPTController</display-name>
    <servlet-name>AddPTController</servlet-name>
    <servlet-class>controller.AddPTController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPTController</servlet-name>
    <url-pattern>/them-PT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpadatePTController</display-name>
    <servlet-name>UpadatePTController</servlet-name>
    <servlet-class>controller.UpadatePTController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpadatePTController</servlet-name>
    <url-pattern>/chinh-sua-pt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCalendarController</display-name>
    <servlet-name>ListCalendarController</servlet-name>
    <servlet-class>controller.ListCalendarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCalendarController</servlet-name>
    <url-pattern>/danh-sach-lich-tap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCalendarDetailController</display-name>
    <servlet-name>AdminCalendarDetailController</servlet-name>
    <servlet-class>controller.AdminCalendarDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCalendarDetailController</servlet-name>
    <url-pattern>/admin-chi-tiet-lich-tap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCalendarController</display-name>
    <servlet-name>DeleteCalendarController</servlet-name>
    <servlet-class>controller.DeleteCalendarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCalendarController</servlet-name>
    <url-pattern>/xoa-lich</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoUserController</display-name>
    <servlet-name>InfoUserController</servlet-name>
    <servlet-class>controller.InfoUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoUserController</servlet-name>
    <url-pattern>/thong-tin-nguoi-dung</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserConfirmRegisterController</display-name>
    <servlet-name>UserConfirmRegisterController</servlet-name>
    <servlet-class>controller.UserConfirmRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserConfirmRegisterController</servlet-name>
    <url-pattern>/UserConfirmRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestController</display-name>
    <servlet-name>TestController</servlet-name>
    <servlet-class>controller.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestController</servlet-name>
    <url-pattern>/TestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteCalendarController</display-name>
    <servlet-name>UserDeleteCalendarController</servlet-name>
    <servlet-class>controller.UserDeleteCalendarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteCalendarController</servlet-name>
    <url-pattern>/xoa-dang-ky</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListCalendarController</display-name>
    <servlet-name>UserListCalendarController</servlet-name>
    <servlet-class>controller.UserListCalendarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListCalendarController</servlet-name>
    <url-pattern>/danh-sach-lich-tap-cua-nguoi-dung</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListUserOfClassController</display-name>
    <servlet-name>AdminListUserOfClassController</servlet-name>
    <servlet-class>controller.AdminListUserOfClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListUserOfClassController</servlet-name>
    <url-pattern>/admin-lich-tap-cua-nguoi-dung</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogoutController</display-name>
    <servlet-name>UserLogoutController</servlet-name>
    <servlet-class>controller.UserLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutController</servlet-name>
    <url-pattern>/nguoi-dung-thoat</url-pattern>
  </servlet-mapping>
</web-app>