<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ConfirmRegisterController</display-name>
    <servlet-name>ConfirmRegisterController</servlet-name>
    <servlet-class>controller.ConfirmRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmRegisterController</servlet-name>
    <url-pattern>/xac-nhan-dang-ky</url-pattern>
  </servlet-mapping>
  <display-name>quan_ly_hoc_vien_gym</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConfirmLoginController</display-name>
    <servlet-name>ConfirmLoginController</servlet-name>
    <servlet-class>controller.ConfirmLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmLoginController</servlet-name>
    <url-pattern>/xac-nhan-dang-nhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserController</display-name>
    <servlet-name>UpdateUserController</servlet-name>
    <servlet-class>controller.UpdateUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserController</servlet-name>
    <url-pattern>/UpdateUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateClassController</display-name>
    <servlet-name>CreateClassController</servlet-name>
    <servlet-class>controller.CreateClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateClassController</servlet-name>
    <url-pattern>/tao-lich</url-pattern>
  </servlet-mapping>
</web-app>